@media screen and (max-width: 576px) {

    /* Navbar section */
    .header-container {
        margin: 0px;
        border: 2px solid #FEA301;
        padding: 20px 20px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .nav-mid,
    .nav-right,
    .nav-left>h1 {
        display: none;
    }


    .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* banner-section */

    .banner-section {
        display: flex;
        flex-direction: column-reverse;
        margin: 1rem 0rem;
        text-align: center;
    }

    .banner-right img {
        width: 380px;
    }

    .banner-left>h1 {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .banner-left>p {
        font-size: 0.9rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    /* curriculum-section */

    .curriculum-section {
        padding: 2rem 1rem;
    }

    .curriculum-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 1rem;
    }

    .scroll {
        display: none;
    }

}